.fon {
    width: 1930px;
    height: 1005px; 
    position: absolute;
    background-repeat: no-repeat;
    background-color: #D9D9D9;
    margin-left: -20px;
    z-index: -1;
}

.header {
    width: 1920px;
    height: 163px;
    background-color: #2E2F2F;
    margin: -9px -8px;
        
}

.logo img {
    width: 245px;
    height: 140px;
    margin-left: 498px;
    margin-top: 13px;
    position: absolute;
}

.line {
    width: 1177px;
    height: 9px;
    margin-top: 78px;
    background-color: #D9D9D9;
    float: right;
}

.adres h1 {
    width: 359px;
    height: 26px;
    margin-top: 30px;
    margin-left: 826px;
    flex-shrink: 0;
    color: #FFF;
    font-family: "JOHN HANDY LET";
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
}

.numb {
    width: 250px;
    height: 50px;
    margin-left: 1570px;
    position: absolute;
}

.numb img {
    margin-top: 10px;
    margin-left: 0px;
}

.numb h1 {
    width: 200px;
    height: 26px;
    margin-top: -40px;
    margin-left: 70px;
    flex-shrink: 0;
    color: #FFF;
    font-family: "JOHN HANDY LET";
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
}

.knopki {
    margin-left: 760px;
    margin-top: 43px;
    display: flex;
}

.button_01 {
    border-radius: 30px;
    flex-shrink: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    fill: #5A5E63;
    background-color: #5A5E63;
}

.button_02 {
    border: 3px solid #EBDFDF;
    border-radius: 30px;
    border-color: #EBDFDF;
    flex-shrink: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    fill: #5A5E63;
    background-color: #5A5E63;
}

.knopki ul {
    margin: -6px -52px;
    display: flex;
    flex: revert;
    flex-direction: row;
}

.knopki ul li {
    width: 280px;
    height: 80px;
    text-align: center;
    vertical-align: middle;
    line-height: 350%; 
    fill: #5A5E63;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.knopki ul li a {
    margin: 0px 0px;
    text-decoration: none;
    color: #FCFDFF;
    font-family: 'Inter';
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    width: 70%;
    height: 70%;
}

.main {
    width: 0;
}

.dannie, .dannie2 {
    width: 1057px;
    margin: 104px 489px /* margin: 85px 380px; */;
}

.dannie h1, .dannie p, .dannie p2 {
    font-size: 24px;
    font-family: 'Inter';
}

.dannie2 img {
    margin: -116px 206px;
    position: absolute;
}

.dannie2 h4 {
    color: #000000;
    font-family: 'Helvetica';
    font-size: 22px;
}

.dannie2 p4 {
    color: #1683C6;
    font-family: 'Helvetica';
    font-size: 22px;
    border-bottom: 1px dashed rgb(111, 157, 199);
}


.dannie2 p5, .dannie2 p6 {
    color: #000000;
    font-family: 'Helvetica';
    font-size: 20px;
}

/* Меню для телефона ================================================================================================================================================================================================================= */

.contentmobile {
    display: block;
    z-index: 3;
}
.chblock {
    width: 1088px;
    height: 935px;
    position: absolute;
    margin: 306px 0px;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    Justify-content: space-between;
    z-index: 3;
    flex-wrap: nowrap;
    align-items: flex-start;
    border-radius: 8px;
    justify-content: flex-start;
}

.chblock ul li {
    list-style-type: none;
}
  
.knmobile1, .knmobile2{
    display: inline-block;
    cursor: pointer;
    font-size: 103px;
    padding: 10px 190px;
    text-decoration:none;
    color:#ffffff;
    background:#a9a9a9;
    border-radius:100px;
    border:2px solid #000000;
}

.knmobile1 {
    width: 70%;
    height: 191px;
    margin-top: 14px;
    margin-left: -53px;
    color: black;
    text-align: center;
}

.knmobile1:hover{
    background:#e5f0e8;
    color:#050402;
    transition: all 0.2s ease;
}

.knmobile2 {
    width: 70%;
    height: 191px;
    padding: 10px 190px;
    margin-top: 7px;
    margin-left: -53px;
    color: rgb(233, 7, 7);
    text-align: center;
}
  
.knmobile2:hover{
    border:2px rgb(1, 235, 60)000000;
}

/* Меню для телефона end ========================================================================================================================================================================== */


@media (min-width:1201px ) and (max-width: 5000px){
    .menumob {
        display: none;
    }
}

@media (min-width:700px ) and (max-width: 1200px){

    .menumob {
        display: none;
    }

 .adres h1{
    width: 500px;
    font-size: 31px;
 }

 .numb h1 {
    font-size: 25px;
 }

 .knopki ul li a {
    font-size: 38px;
 }

 /* .glav-catalog {
    font-size: 38px;
 } */
}


@media (min-width:501px ) and (max-width: 700px){

    .menumob {
        display: none;
    }

    .numb img {
        display: none;
    }
    
    .logo img {
        width: 544px;
        height: 311px;
        margin-left: 56px;
        margin-top: 81px;
    }

    .knopki ul li {
        width: 140%;
    }

    .knopki ul li a{
        width: 96%;
        height: 160%;
    }

    .adres h1 {
        width: 720px;
        font-size: 48px;
        margin-top: 103px;
    }
   
    .numb h1 {
        width: 383px;
        margin-top: 33px;
        margin-left: -754px;
        font-size: 46px;
    }
   
    .knopki {
        margin-top: 253px;
    }

    .knopki ul li a {
        font-size: 66px;
    }

    .line {
        margin-top: 241px;
    }


    .header {
        height: 474px;
    }
   
    /* .glav-catalog {
       font-size: 38px;
    } */
   }

   @media (min-width:401px ) and (max-width: 500px){
    .menumob {
        display: block;
        position: absolute;
        margin: 172px 1087px;
    }

    .chblock {
        margin: 12px 211px;
    }
    
    .menumob img {
        width: 352px;
        height: 288px;
    }

    .numb img{
        display: none;
    }

    .knopki{
        display: none;
    }
    .adres{
        display: none;
    }

    .line {
        display: none;
    }

    .header{
        width: 1664px;
        height: 500px;
    }

    .box {
        width: 300px;
    }

    .logo img {
        width: 645px;
        height: 396px;
        margin-left: 11px;
        margin-top: 36px;
    }

    .adres h1{
       width: 500px;
       font-size: 31px;
    }

    .numb {
        margin-left: 50%;
        
    }
   
    .numb h1 {
        width: 516px;
        font-size: 61px;
        margin-top: 98px;
    }
   
    .knopki ul li a {
       font-size: 38px;
    }
   
    .line {
        display: none;
    }

    .numb {
        display: none;
    }
   }


   @media (min-width:1px ) and (max-width: 400px){
    .menumob {
        display: block;
        position: absolute;
        margin: 152px 948px;
    }

    .chblock {
        margin: 12px 211px;
    }
    
    .menumob img {
        width: 339px;
        height: 319px;
    }
    .numb {
        display: none;
    }


    .knopki{
        display: none;
    }
    .adres{
        display: none;
    }

    .line {
        display: none;
    }

    .header{
        width: 1474px;
        height: 500px;
    }

    .box {
        width: 300px;
    }

    .logo img {
        width: 645px;
        height: 396px;
        margin-left: 11px;
        margin-top: 36px;
    }

    .adres h1{
       width: 500px;
       font-size: 31px;
    }

    .numb {
        margin-left: 50%;
        
    }
   
    .numb h1 {
        width: 420px;
       font-size: 50px;
       margin-top: 105px;
    }
   
    .knopki ul li a {
       font-size: 38px;
    }
   
    .line {
        display: none;
    }
   }

