.fon {
    width: 1930px;
    height: 1500px;
    position: absolute;
    background-repeat: no-repeat;
    background-color: #ffffff;
    margin-left: -20px;
    z-index: -1;
}

.header {
    width: 1920px;
    height: 163px;
    background-color: #2E2F2F;
    margin: -9px -8px;
        
}

.header img {
    margin-left: 498px;
    margin-top: 13px;
    position: absolute;
}

.line {
    width: 1177px;
    height: 9px;
    margin-top: 78px;
    background-color: #D9D9D9;
    float: right;
}

.adres h1 {
    width: 359px;
    height: 26px;
    margin-top: 30px;
    margin-left: 826px;
    flex-shrink: 0;
    color: #FFF;
    font-family: "JOHN HANDY LET";
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
}

.numb {
    width: 250px;
    height: 50px;
    margin-left: 82%;
}

.numb img {
    margin-left: 0px;  
}

.numb h1 {
    width: 200px;
    height: 26px;
    margin-top: 25px;
    margin-left: 70px;
    flex-shrink: 0;
    color: #FFF;
    font-family: "JOHN HANDY LET";
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
}

.knopki {
    margin-left: 760px;
    margin-top: 43px;
    display: flex;
}

.button_01 {
    border-radius: 30px;
    flex-shrink: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    fill: #5A5E63;
    background-color: #5A5E63;
}

.button_02 {
    border: 3px solid #EBDFDF;
    border-radius: 30px;
    border-color: #EBDFDF;
    flex-shrink: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    fill: #5A5E63;
    background-color: #5A5E63;
}

.knopki ul {
    margin: -6px -52px;
    display: flex;
    flex: revert;
    flex-direction: row;
}

.knopki ul li {
    width: 280px;
    height: 80px;
    text-align: center;
    vertical-align: middle;
    line-height: 350%; 
    fill: #5A5E63;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.knopki ul li a {
    margin: 0px 0px;
    text-decoration: none;
    color: #FCFDFF;
    font-family: 'Inter';
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    width: 70%;
    height: 70%;
}

.main {
width: 0px;
height: 0px;
    position: absolute;
}

.glav-catalog {
    display: flex;
    width: 510px;
    height: 34px;
    margin: 126px 457px;
    color: #7E7E83;
    font-size: 19px;
    font-family: 'Verdana';
    align-items: center;
    justify-content: space-between;
}

.glav-a, .glav-a2{
    text-decoration: none;
    color: #7E7E83;
    display: block;
}

.glav-a:hover,.glav-a2:hover{
    color: rgb(89, 124, 145); /* Меняем цвет текста */
  }

.glav-a {
    width: 50%;
}

.glav-a2 {
    width: 400px
}

.glav-a3 {
    width: 400px
}

.glav-catalog h1 {
    width: 300px;
    font-size: 19px;
    font-family: 'Verdana';
    color: #7E7E83;
    text-decoration: none;
}



.vsetovari {
    width: 0px;
    margin: -100px -60px;
}

.tovari,.tovari2,.tovari3 {
    width: 1117px;
    height: 275px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

.tovari {
    margin: 124px 500px;
}

.tovari2 {
    margin: 235px 500px;
}

.tovari3 {
    margin: 230px 500px;
}


.tovar {
    height: 430px;
    margin-right: 80px;
}

.tovar h1 {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 400;
}

.tovar a img {
    border-radius: 13px;
}

.nazvanie {
    width: 280px;
    position: absolute;
}

.nazvanie a {
    width: 10px;
    font-size: 1.35rem;
    line-height: 2rem;
    font-weight: 400;
    text-decoration: none;
    color: #333;
}

.nazvanie a:hover {
    color: rgb(245, 50, 50); /* Меняем цвет текста */
}

.vkorziny {
    margin-top: 125px;
}

.button_166 {
    display: inline-block !important;
    background-color: #e14242 !important;
    color: #ffffff !important;
    border-radius: 6px;
    font-size: 19px !important;
    text-decoration: none !important;
    padding: 11px 34px !important;
    margin-left: 33px;
    transition: all 0.4s ease !important;
    position: absolute;
}

.button_166:hover{
    text-decoration: none !important;
    background-color: #b30e0e !important;
}



/* .nazvanie a {
    color: black;
    font-size: 19px;
    font-family: 'Verdana';
    text-decoration: none;
} */