<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/verstka.css">
    <style>
        body{
            background: url(https://img.free0pik.com/free-vector/abstract-watercolor-background_23-2148825783.jpg?w=1380&t=st=1670587174~exp=1670587774~hmac=252e8f2849e3117b68fe80beb58168ac38fba4333d3cf6585f8a86860ba08f53) no-repeat fixed;
            background-size: cover;
        }
    </style>
</head>
<body>
    <div class="header">
        <div class="logo">
        <img src="D:\katepractice\img\logo.png" width="25%" height="25%">
        </div>
        <div class="righttext">
            <h1>Добро пожаловать на сайт, который расскажет вам о фильмах, которые достойны вашего просмотра,и которые смогут скрасить ваш скучный вечер.</h1>
        </div>
        <div class="shapkabuttons">
            <ul>
                <p><a href="#">ГЛАВНАЯ</a></p>
                <p><a href="#">ИНФОРМАЦИЯ</a></p>
                <p><a href="#">ПОДДЕРЖКА</a></p>		
            </ul>
        </div>	
	</div>	
    <div class="sitebar">
        <div class="vkladki">
            <ul>
                <p><a href="#">САМЫЕ КАССОВЫЕ ФИЛЬМЫ В МИРЕ</a></p>
                <p><a href="#">ТОП ЛУЧШИХ ФИЛЬМОВ ПО ОЦЕНКЕ</a></p>
                <p><a href="#">ФИЛЬМЫ И СЕРИАЛЫ КОТОРЫЕ СТОИТ ПОСМОТРЕТЬ КАЖДОМУ</a></p>
                <p><a href="#">ЛУЧШИЕ МУЛЬТФИЛЬМЫ СОВЕРЕМЕННОСТИ</a></p
            </ul>
        </div>
    </div>
    
</body>
</html>