{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css\opisanietovara.css'%}">
    <title>Document</title>
</head>
<body>
<div class="fon" alt=""></div>
<div class="header">
        <img src="{% static '/img/logo.png' %}" width="245px" height="140px" alt="">
            <div class="line"></div>
            <div class="adres"><h1>Г. Шумерля, улица Ленина,  дом 24</h1></div>
                <div class="numb"><img src="{% static '/img/icons850.png' %}" width="50px" height="50px" alt=""><h1>+7 (965) 688-57-78</h1></div>
                <div class="knopki">
                    <ul>
                        <li><a href="{% url 'catalog' %}" class="button_01">Каталог товаров</a></li>
                        <li><a href="{% url 'delivery' %}" class="button_01">Доставка</a></li>
                        <li><a href="{% url 'main' %}" class="button_01">О нас</a></li>
                        <li><a href="{% url 'order' %}" class="button_01">Корзина</a></li>
                    </ul>
                </div>
</div>

<div class="main">

    <div class="glav-catalog">
        <a href="{% url 'main' %}" class="glav-a">Главная -</a>
        <a href="{% url 'catalog' %}" class="glav-a2"> Каталог товаров -</a>
            {% for post in tv %}
        <a class="glav-a3"> {{ post.category }} </a>
    </div>
    <div class="tovar-any">
        <div class="cart"><img src="img/multi1.avif" width="550px" height="550px" alt=""></div>
        <div class="vseopiitd">
            <div class="nazvanie">
                {{ post.name_product }}
            </div>
                <div class="buyblock">
                    <h1>{{ post.sale_product }}</h1>
                    <a  class="button_166" target="_blank">Добавить в корзину</a>
                </div>
<!--                    <div class="mailopis">Характеристики:<br>-->
<!--                        Гарантия....2 <br>-->
<!--                        Объем чаши....5 л<br>-->
<!--                        Покрытие чаши....антипригарное керамическое<br>-->
<!--                        Тип нагрева....3D<br>-->
<!--                        Мощность....750 Вт<br>-->
<!--                        Таймер отложенного старта....до 24 часов<br>-->
<!--                        Тип управления....электронный<br>-->
<!--                        Звуковой сигнал....Да-->
<!--                    </div>-->
                    <div class="vseopisanie">
                        <h1>Все характеристики</h1>
                        <div class="opisanie">
                            {{ post.description }}
                        </div>
                    </div>
            {% endfor %}
        </div>
    </div>
</div>
</body> 
</html>