{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css\test.css'%}">
    <title>Document</title>
</head>
<body>
<div class="header">
    <div class="chblock">
        <div class="belblock"></div>
        {% for new in testcar %}
        <div class="sinblock"><h1>hello world</h1>{{ new.kateg }}</div>
        {% endfor %}
    </div>
    </div>
</div>
</body>
</html>