{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css\lichtovar.css'%}" >
    <title>Document</title>
</head>
<body>
<div class="fon" alt=""></div>
<div class="header">
        <img src="{% static 'img/logo.png' %}" width="245px" height="140px" alt="">
            <div class="line"></div>
            <div class="adres"><h1>Г. Шумерля, улица Ленина,  дом 24</h1></div>
                <div class="numb"><img src="{% static '\img\icons850.png' %}" width="50px" height="50px" alt=""><h1>+7 (965) 688-57-78</h1></div>

                <div class="knopki">
                    <ul>
                        <li><a href="./katalog.html" class="button_02">Каталог товаров</a></li>
                        <li><a href="./dostavka.html" class="button_01">Доставка</a></li>
                        <li><a href="./index.html" class="button_01">О нас</a></li>
                        <li><a href="./korzina.html" class="button_01">Корзина</a></li>
                    </ul>
                </div>
</div>

<div class="main">
    <div class="glav-catalog">
        <a href="./index.html" class="glav-a">Главная -</a>
        <a href="./katalog.html" class="glav-a2"> Каталог товаров -</a>
        <a class="glav-a3"> Телевизоры</a>
    </div>
    <div class="tovar-any">
        <div class="cart"><img src="{% static 'img/multi1.avif' %}" width="550px" height="550px" alt=""></div>
<div class="vseopiitd">
            <div class="nazvanie">
                {% for i in id %}
                    {{ i.name_product }}
                {% endfor %}
            </div>
                <div class="buyblock">
                    {% for i in price %}
                        <h1>{{ i.price }} ₽</h1></h1>
                    {% endfor %}
                    <a  class="button_166" target="_blank">Добавить в корзину</a>
                </div>
                    <div class="mailopis">Характеристики:<br>
                        Гарантия....2 <br>
                        Объем чаши....5 л<br>
                        Покрытие чаши....антипригарное керамическое<br>
                        Тип нагрева....3D<br>
                        Мощность....750 Вт<br>
                        Таймер отложенного старта....до 24 часов<br>
                        Тип управления....электронный<br>
                        Звуковой сигнал....Да
                    </div>
                    <div class="vseopisanie">
                        <h1>Все характеристики</h1>
                        <div class="opisanie">
                            {% for i in id %}
                                {{ i.description }}
                            {% endfor %}
                        </div>
                    </div>
        </div>
    </div>
</div>
</body>
</html>