.chblock {
    width: 400px;
    height: 400px;
    background-color: black;
}

.belblock {
    width: 150px;
    height: 100px;
    background-color: beige;
}

.sinblock {
    width: 150px;
    height: 100px;
    background-color: blue;
    margin-top: -200px;
}

.sinblock h1 {
    font-family: "consolas";
    font-size: 23px;
    z-index: 3;
    margin-top: 150px;
}

.sinblock p {
    font-family: "IBM Plex Mono";
    font-size: 23px;
    margin-top: 300px;
    z-index: 3;
}