<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/catalog.css">
    <title>Document</title>
</head>
<body>
<!-- <div class="fon"  alt=""></div> -->
<div class="header">
    <div class="logo"><img src="img/logo.png" alt=""></div>
    <div class="menumob" >
        <img class="menumobkart" src="img/menu.png" alt="" width="121px" height="118px">
    </div>
            <div class="line"></div>
            <div class="adres"><h1>Г. Шумерля, улица Ленина,  дом 24</h1></div>
                <div class="numb"><img src="img/icons8-телефон-50.png" width="50px" height="50px" alt=""><h1>+7 (965) 688-57-78</h1></div>

                <div class="knopki">
                    <ul>
                        <li><a href="./katalog.html" class="button_02">Каталог товаров</a></li>
                        <li><a href="./dostavka.html" class="button_01">Доставка</a></li>
                        <li><a href="./index.html" class="button_01">О нас</a></li>
                        <li><a href="./korzina.html" class="button_01">Корзина</a></li>
                    </ul>
                </div>                     
</div>

<div class="main">

    <div class="glav-catalog">
        <a href="./index.html">Главная -</a>
        <p> Каталог товаров</p>
    </div>

    <div class="tovari">
        <a href="{% url 'catalog/-tv' %}" class="block"><img src="img/telek.png" width="148px" height="83.02"><h1>Телевизоры</h1></a>
        <a href="{% url 'catalog/cold-storage' %}" class="block"><img src="img/xolodol.png" width="148px" height="83.02"><h2>Холодильники</h2></a>
        <a href="{% url 'catalog/noytbyki' %}"class="block"><img src="img/noyt.png'" width="148px" height="83.02"><h3>Ноутбуки</h3></a>
        <a href="{% url 'catalog/kofemashini' %}" class="block"><img src="'img/kofemash.png'" width="148px" height="83.02"><h1>Кофемашины</h1></a>
        <a href="{% url 'catalog/proektori' %}" class="block"><img src="img/proector.png'" width="148px" height="83.02"><h2>Проекторы</h2></a>
        <a href="{% url 'catalog/fleshki' %}" class="block"><img src="img/fleshka.png" width="148px" height="83.02"><h3>Флешки</h3></a>
    </div> 

 <!-- =============контент для мобилы================ -->
 <div class="contentmobile" style="display: none;">
    <div class="chblock">
        <ul>
            <li><a href="#" class="knmobile1">Каталог товаров</a></li>
            <li><a href="#" class="knmobile1">Доставка</a></li>
            <li><a href="#" class="knmobile1">О нас</a></li>
            <li><a href="#" class="knmobile2">Закрыть меню</a></li>
        </ul>
    </div>   
</div>
 <!-- =============контент для мобилы end================ -->

<script src="js/menuphone.js"></script> 
</body> 
</html>